.paginations {
    float: right;
}

button {
    height: 25px;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    background: #222;
    color: #fff;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
}
button:disabled {
    background: #e0e0e0;
    color: #000;
    cursor: not-allowed;
}
button:focus {
    outline: none;
}
button.next {
    margin-right: 0;
}
@media all and (max-width: 500px) {
    .paginations{
        float: none;
        margin-bottom: 10px;
    }
}