.App-header {
  background-color: #222;
  height: 50px;
  color: white;
}
.paginate-sort {
    margin-bottom: 5px;
}
.paginate-sort::after {
    content: "";
    display: table;
    clear: both;
}
.content {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 20px;
}
