main {
    position: relative;
}
.stage-container {
  display: none;
}
.photos {
   line-height: 0;
   
   -webkit-column-count: 4;
   -webkit-column-gap:   0px;
   -moz-column-count:    4;
   -moz-column-gap:      0px;
   column-count:         4;
   column-gap:           0px;
}
.thumbnail {
    position: relative;
    cursor: pointer;
}
.thumbnail:hover .caption {
  opacity: 1;
}
.thumbnail .caption {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.6);
    height: 40px;
    width: inherit;
    color: #fff;
    line-height: 1.2;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 0;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 992px) {
  .photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 768px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  .thumbnail .caption {
    opacity: 1;
  }
}
@media (max-width: 400px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

body {
  margin: 0;
  padding: 0;
}