.sort {
    float: left;
}
select {
    background: #222222;
    height: 25px;
    width: 200px;
    /* border-radius: 16px; */
    border: none;
    color: #fff;
    font-size: 16px;
}
select:focus {
    outline: none;
}
@media all and (max-width: 500px) {
    .sort{
        float: none;
        margin-bottom: 10px;
    }
}

